.login-container {
    height: 1258px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text-center-align {
    text-align: center;
  }
  
  .btn-facebook {
    margin-bottom: 10;
  }
  